@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
  overflow-x: hidden;
  background-color: #F9FAFC;
}

.ant-upload.ant-upload-select-picture-card {
  width: 100%;
}

.anticon {
  vertical-align: middle;
}

.ant-message .anticon {
  vertical-align: top;
  margin-top: 2px;
}

.ant-table-body {
  overflow-x: auto !important;
}

.ant-table-pagination.ant-pagination {
  margin-right: 20px !important;
}

.navbar {
  background-color: #5BAFFF;
}

.nav-dropdown .nav-link {
  cursor: pointer;
}

.nav-dropdown-item {
  width: 10px;
  height: 10px;
  border: 3px solid rgb(156, 174, 253);
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 10px;
  transition: border .2s ease-in;
}

.is-active .nav-dropdown-item {
  border: 5px solid rgb(156, 174, 253);
}

#sidebar-toggler {
  transform: scaleX(-1) rotate(-90deg);
  color: white;
  cursor: pointer;
}

#sidebar-wrapper {
  position: fixed;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-height: 100vh;
  width: 100%;
  margin-left: 0;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#wrapper.toggled #page-content-wrapper {
  margin-left: 15rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    
  }

  #page-content-wrapper {
    margin-left: 15rem;
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  #wrapper.toggled #page-content-wrapper {
    margin-left: 0;
  }
}

#sidebar-wrapper .nav-item {
  transition: background-color .3s ease-in-out;
}

#sidebar-wrapper .nav-item:hover {
  background-color: rgb(236, 237, 240);
}

.nav-normal .nav-link.is-active {
  border-left: 5px solid #5BAFFF;
}

#sidebar-wrapper .nav-item:hover .nav-link {
  color: rgb(72, 85, 97);
}

#sidebar-wrapper .nav-item .nav-link {
  display: flex;
  align-items: center;
  color: #66788A;
  transition: color .2s ease-in-out,
              border .1s ease-in-out;
  font-family: 'Roboto';
  font-weight: 500;
}

#sidebar-wrapper .nav-item .nav-link i {
  margin-right: 10px;
  color: #6678869f;
}

.dash-card .header {
  display: block;
}

.dash-card .value {
  font-size: 24px;
  font-weight: bold;
}

.simple-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 250px;
}